#top {
    display: flex;
    top: 0px;
    margin: 0px 0px 10px 0px;
    z-index: 99;
    height: 40px;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#bottom {
    position: relative;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: absolute;
    /* padding: 15px; */
    min-height: 100%;
    width: 100%;
}

.left_content {
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link:hover, #top a:visited:hover  {
    font-weight: normal;
}

.colunaLeft {
    text-align: left;
}

.colunaRight {
    text-align: right;
}

.toolbarDefault {
    margin-bottom: 15px;
}