<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
    
        <!--        Configuracoes Developement -->
        <!--
        -->        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/ifad?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">daniloif</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.show_sql">true</property>
        
        
        <!--        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.hbm2ddl.import_files">ifad_ddl.sql</property>-->
        
        <!--            <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>-->
        

<!--        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="current_session_context_class">thread</property>
        
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">200</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">60</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>-->
        
        <mapping class="br.edu.ifnmg.ifad.entity.Usuario"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Senha"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Resposta"/>
        <mapping class="br.edu.ifnmg.ifad.entity.RespostaId"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Configuracao"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Foto"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Professor"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Questao"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Questionario"/>
        <mapping class="br.edu.ifnmg.ifad.entity.Turma"/>
        
    </session-factory>
</hibernate-configuration>
